<h1><%= @user.name %>'s favorite pictures</h1>

<% @favorites.each do |favorite| %>
  <div class="favorite">
    <h2><%= link_to favorite.picture.caption, favorite.picture %></h2>
    <p>Posted by <%= favorite.picture.user.name %></p>
  </div>
<% end %>
